#body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

#body .wrapper {
    width: 1170px;
    margin: 0 auto;
}

#body .purpose {
    width: 100%;
    padding-top: 72px;
}

#body .purpose .wrapper {
    display: flex;
    justify-content: space-between;
}

#body .purpose .wrapper .text {
    /*width: 100%;*/
    height: 348px;
}

#body .purpose .wrapper .text h2 {
    margin-bottom: 26px;
    line-height: 40px;
    font-size: 40px;
    font-weight: 300;
    color: #333;
}

#body .purpose .wrapper .text h2 b {
    font-weight: 500;
}

#body .purpose .wrapper .text p {
    margin-bottom: 26px;
    font-weight: 300;
    line-height: 26px;
    font-size: 17px;
    color: #666;
    /*width: 100%;*/
}

#body .purpose .wrapper .text a {
    margin-top: 30px;
    margin-right: 16px;
    text-decoration: none;
    padding: 24px 27px 22px 27px;
    border: 2px solid #ccc;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 20px;
    font-size: 13px;
    color: #999;
    cursor: pointer;
    position: relative;
    top: 56px;
}

#body .purpose .wrapper .text a:hover {
    border-color: #333;
    color: #333;
    transition: all .3s ease-in-out;
}

#body .purpose .wrapper .text a:nth-child(4) {
    background-color: #1c1c1c;
    color: #fff;
    border-color: #1c1c1c;
}
#body .purpose .wrapper .text a:nth-child(4) span:first-child{
    display: none;
}
#body .purpose .wrapper .text a:nth-child(4) span:last-child{
    display: inline;
}
#body .purpose .wrapper .text a:nth-child(4):hover span:first-child{
    display: inline;
    padding: 24px 9.4px 22px 9.4px;
}
#body .purpose .wrapper .text a:nth-child(4):hover span:last-child{
    display: none;
}
#body .purpose .wrapper .text a:nth-child(4):hover {
    color: #fff;
}

#body .purpose .wrapper .phone img {
    margin-top: -116px;
    z-index: 1;
}

#body .featured {
    width: 100%;
    padding: 47px 0 20px 0;
}

#body .featured .head .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#body .featured .head .wrapper .text h2 {
    line-height: 40px;
    font-size: 40px;
    font-weight: 300;
    color: #333;
}

#body .featured .head .wrapper .text h2 b {
    font-weight: 500;
}

#body .featured .head .wrapper .arrows {
    display: flex;
}

#body .featured .head .wrapper .arrows .prev {
    width: 66px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-size: 32px;
    color: #ccc;
    border: 2px solid #ccc;
    margin-left: -2px;
}

#body .featured .head .wrapper .arrows .prev:hover {
    color: #1c1c1c;
    border: 2px solid #1c1c1c;
    z-index: 1;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#body .featured .head .wrapper .arrows .next {
    width: 66px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-size: 32px;
    color: #ccc;
    border: 2px solid #ccc;
    margin-left: -2px;
}

#body .featured .head .wrapper .arrows .next:hover {
    color: #1c1c1c;
    border: 2px solid #1c1c1c;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#body .featured .sliding {
    padding-top: 48px;
    display: flex;
}

#body .featured .sliding div {
    overflow: hidden;
}

#body .featured .sliding .nd {
    transition: all .3s ease-in-out;
}

#body .featured .sliding .nd:hover {
    background-color: #1c1c1c;
    transform: scale(0.95);
    transition: all .3s ease-in-out;
}

#body .featured .sliding .st .nd img {
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    position: relative;
}
#body .featured .sliding .st .nd .txt{
    position: absolute;
    top: 45%;
    left: 35%;
    transition: all .3s ease-in-out;
}
#body .featured .sliding div img:hover {
    opacity: 0.19;
    /*transform: scale(0.9);*/
    transition: all .3s ease-in-out;
}

#body .featured .sliding div:nth-child(5), .featured .sliding div:nth-child(6), .featured .sliding div:nth-child(7) img {
    display: none;
}

#body .featured .clients {
    padding: 71px 0 78px 0;
}

#body .featured .clients img {
    filter: grayscale(100%);
    opacity: .5;
    transition: .5s ease-out;
}

#body .featured .clients img:hover {
    filter: none;
    transition: .3s ease-out;
    opacity: 1;
}

#body .featured .clients .wrapper {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1199px) and (min-width: 992px) {
    #body .wrapper {
        width: 970px;
    }
    #body .purpose .wrapper .text h2 {
        font-size: 35px;
        line-height: 35px;
    }
    #body .purpose .wrapper .text p {
        font-size: 15px;
        line-height: 22px;
    }
    #body .purpose .wrapper .phone img {
        width: 387.02px;
        height: 419.97px;
    }
    #body .purpose .wrapper .text {
        width: 583.33px;
        height: 323px;
    }
    #body .featured .head .wrapper .text h2 {
        font-size: 35px;
        line-height: 35px;
    }
    #body .featured .head .wrapper .arrows .prev {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .head .wrapper .arrows .next {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .clients img {
        width: 137px;
        height: 80px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #body .wrapper {
        width: 750px;
    }
    #body .purpose {
        padding-top: 35px;
    }
    #body .purpose .wrapper .text {
        width: 455px;
        height: 358px;
    }
    #body .purpose .wrapper .text h2 {
        font-size: 40px;
        line-height: 40px;
    }
    #body .purpose .wrapper .text h2 span {
        display: block;
    }
    #body .purpose .wrapper .text p {
        font-size: 12px;
        line-height: 20px;
    }
    #body .purpose .wrapper .phone img {
        width: 295.28px;
        margin-top: -51px;
        height: 320.41px;
    }
    #body .featured .head .wrapper .arrows .prev {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .head .wrapper .arrows .next {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .sliding div:nth-child(4) img {
        display: none;
    }
    #body .featured .clients img {
        width: 100px;
        height: 59px;
    }
}

@media (max-width: 767px) and (min-width:480px) {
    #body .wrapper {
        width: 95%;
    }
    #body .purpose {
        padding-top: 35px;
    }
    #body .purpose .wrapper {
        display: block;
    }
    #body .purpose .wrapper .text {
        height: 290px;
    }
    #body .purpose .wrapper .text h2 {
        font-size: 30px;
        line-height: 32px;
    }
    #body .purpose .wrapper .text p {
        font-size: 12px;
        line-height: 20px;
    }
    #body .purpose .wrapper .phone {
        display: flex;
        justify-content: center;
    }
    #body .purpose .wrapper .phone img {
        width: 320.31px;
        height: 347.56px;
        margin-top: 40px;
    }
    #body .featured .head .wrapper .text h2 {
        font-size: 30px;
        line-height: 32px;
    }
    #body .featured .head .wrapper .arrows .prev {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .head .wrapper .arrows .next {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .sliding div:nth-child(4), .sliding div:nth-child(3) img {
        display: none;
    }
    #body .featured .clients .wrapper {
        width: 439px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #body .featured .clients img {
        width: 110px;
        height: 64.7px;
    }
}

@media (max-width:479px) and (min-width:415px){
    #body .wrapper {
        width: 95%;
    }
    #body .purpose {
        padding-top: 35px;
    }
    #body .purpose .wrapper {
        display: block;
    }
    #body .purpose .wrapper .text {
        height: 300px;
    }
    #body .purpose .wrapper .text h2 {
        font-size: 26px;
        line-height: 26px;
    }
    #body .purpose .wrapper .text p {
        font-size: 12px;
        line-height: 20px;
    }
    #body .purpose .wrapper .text a {
        padding: 10px;
        margin: 10px 5px 0 0;
        top: 20px;
    }
    #body .purpose .wrapper .phone {
        display: flex;
        justify-content: center;
    }
    #body .purpose .wrapper .phone img {
        width: 260.25px;
        height: 282.39px;
        margin-top: 10px;
    }
    #body .featured .head .wrapper .text h2 {
        font-size: 26px;
        line-height: 26px;
    }
    #body .featured .head .wrapper .arrows .prev {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .head .wrapper .arrows .next {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .sliding div:nth-child(4), .sliding div:nth-child(3), .sliding div:nth-child(2) img {
        display: none;
    }
    #body .featured .clients .wrapper {
        width: 290px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #body .featured .clients img {
        width: 110px;
        height: 65px;
    }
}
@media (max-width:414px){
    #body .wrapper {
        width: 95%;
    }
    #body .purpose {
        padding-top: 35px;
    }
    #body .purpose .wrapper {
        display: block;
    }
    #body .purpose .wrapper .text {
        height: 300px;
    }
    #body .purpose .wrapper .text h2 {
        font-size: 26px;
        line-height: 26px;
    }
    #body .purpose .wrapper .text p {
        font-size: 12px;
        line-height: 20px;
    }
    #body .purpose .wrapper .text a {
        padding: 10px;
        margin: 10px 5px 0 0;
        top: 20px;
    }
    #body .purpose .wrapper .phone {
        display: flex;
        justify-content: center;
    }
    #body .purpose .wrapper .phone img {
        width: 260.25px;
        height: 282.39px;
        margin-top: 40px;
    }
    #body .featured .head .wrapper .text h2 {
        font-size: 26px;
        line-height: 26px;
    }
    #body .featured .head .wrapper .arrows .prev {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .head .wrapper .arrows .next {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
    #body .featured .sliding div:nth-child(4), .sliding div:nth-child(3), .sliding div:nth-child(2) img {
        display: none;
    }
    #body .featured .clients .wrapper {
        width: 290px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #body .featured .clients img {
        width: 110px;
        height: 65px;
    }
}
